html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
html {
  height: 101%;
} /* always display scrollbars */
body {
  font-size: 62.5%;
  line-height: 1;
  font-family: Arial, Tahoma, Verdana, sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
strong {
  font-weight: bold;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h3 {
  font-size: 16px;
  line-height: 16px;
}

header {
  background: #373a3c;
}

.header {
  max-width: 1400px;
  width: 100%;
  height: 60px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1070px;
  width: 100%;
}

.head__main {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-main {
  color: rgba(255, 255, 255, 0.5);
  height: 30px;
  display: flex;
}

.nav__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__search {
  display: flex;
  max-width: 210px;
  width: 100%;
  margin: 0 2rem;
}

.nav__search input {
  font-size: 13px;
  padding: 9px 13px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 4px;
}

.con-items {
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.con-icons {
  padding-left: 8px;
}

.user-icon {
  padding-right: 8px;
  width: 20px;
  height: 20px;
}

.nav__profile {
  max-width: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__item {
  width: 100vw;
  overflow: hidden;
  display: flex;
}

.slide__content {
  overflow: hidden;
  height: 100vh;
}

.slide__content img {
  width: 100%;
  height: 100%;
}

.item-slide {
  position: absolute;
}

.slider__item .container {
  justify-content: flex-end;
  margin: auto;
  display: flex;
}

.item-slide .txt-item {
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}

.txt-item span {
  margin-bottom: 100px;
  font-size: 24px;
  line-height: 28px;
}

.txt-item {
  margin: 5.7em 7.3em;
}

.btns-item {
  display: flex;
  justify-content: flex-end;
  margin-right: 12em;
}

.btns-item button {
  padding: 13px 30px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.watch-btn {
  background: #8dd83d;
  margin-right: 10px;
}

.explore-btn {
  margin-left: 10px;
  background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
}

.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: -50px;
  padding-left: 65em;
}

.slick-dots button {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid #8dd83d;
  font-size: 0;
  background-color: #efefef00;
  padding: 0;
  outline: 0;
  margin: 0 5px;
}

.slick-dots .slick-active button {
  background-color: #8dd83d;
}

/* ---best-val---- */

.best__val {
  background: linear-gradient(
    180deg,
    rgba(100, 104, 106, 0.68) 0%,
    #373a3c 100%
  );
  padding: 65px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-xbox {
  display: flex;
  justify-content: center;
}

.img-xbox img {
  height: 100%;
}

h1 {
  font-size: 48px;
  line-height: 56px;
}
h2 {
  font-size: 36px;
  line-height: 42px;
}
h4 {
  font-size: 18px;
  line-height: 21px;
}

.txt-xbox {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.card-xbox {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-con {
  max-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border: 1px solid #8dd83d;
  box-sizing: border-box;
  border-radius: 4px;
}

.img-card {
  width: 100%;
  display: flex;
  height: 180px;
  align-items: center;
  justify-content: center;
  background: url("../img/cards/img.svg");
}

.btn-card {
  width: 270px;
  cursor: pointer;
  border: none;
  background: #8dd83d;
  border-radius: 4px;
  padding: 19px 23px;
  margin: 30px;
  line-height: 21px;
  color: #fff;
  transition: 0.3s ease-out;
}
.btn-card:hover {
  background: #0fb3ff;
}

.txt-card {
  color: #435766;
  display: flex;
  flex-direction: column;
}

.txt-card h4 {
  padding: 13px 0;
}
.txt-card p {
  font-size: 24px;
  line-height: 28px;
}

/* ---games-slider---- */

.games-slider {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.bg-img {
  width: 100%;
  height: auto;
  position: absolute;
}

.bg-rantaige {
  z-index: 1;
  background-color: rgba(23, 23, 23, 0.5);
  width: 100%;
  height: 100%;
  padding: 345px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----design-lab---- */

.design-lab {
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
}

.block-designs {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.txt-lab {
  line-height: 28px;
  color: #fff;
}

.btn-left:hover {
  background: #0fb3ff;
}

.btn-right:hover {
  background: #0fb3ff;
}

.btn-lab {
  display: flex;
  justify-content: space-between;
  padding: 45px 0;
}

.btn-left {
  margin-right: 5px;
  padding: 20px 55px;
  cursor: pointer;
  border: none;
  background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  transition: 0.2s ease-out;
}

.btn-right {
  transition: 0.2s ease-out;
  margin-left: 5px;
  font-size: 16px;
  line-height: 21px;
  padding: 20px 55px;
  cursor: pointer;
  border: none;
  color: #fff;
  background: #8dd83d;
  border-radius: 4px;
}

footer {
  background: #373a3c;
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
}

.item-foot h4 {
  cursor: pointer;
  color: #7dd42f;
}

.item-foot p:hover {
  color: #7dd42f;
}

.item-foot p {
  transition: 0.2s ease-out;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  padding: 15px 0;
}

.social-media {
  width: 100px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.blog {
  position: relative;
}
